.hidden {
  display: none;
}

/* #region Скидання стилів */
* {
  box-sizing: border-box;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  margin: 0;
}
a {
  text-decoration: none;
  color: #2e2f42;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  cursor: pointer;
  border: none;
}
/* #endregion Скидання стилів */
/* #region Базові стилі */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
/* #endregion Базові стилі */
/* #region Common */
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.link {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* social links */

.social-link-container {
}
.social-list {
  display: flex;
  gap: 40px;
  padding: 0;
  justify-content: center;
}

.social-item {
}
.social-link {
  background-color: #4d5ae5;
  height: 40px;
  width: 40px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #f4f4fd;
}
/* #endregion Common */
/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav-list,
.contacts {
  display: none;
}
.logo {
  display: block;
  padding: 16px 0;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700; /* Bold */
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.logo .span-header-logo {
  color: #2e2f42;
}
.btn-burger {
  padding: 0;
  background-color: transparent;
}
.btn-burger-svg {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .btn-burger {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-logo {
    margin-right: 120px;
    padding: 24px 0;
  }
  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-nav-link {
    padding: 24px 0;
  }
  .header-nav-link.current {
    position: relative;
  }
  .header-nav-link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .contact-link {
    color: #434455;
    display: block;
    font-size: 12px;
    line-height: 1.17em;
    letter-spacing: 0.04em;
  }

  .link:hover,
  .link:focus,
  .contact-link:hover,
  .contact-link:focus,
  .header-nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contact-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
}

/* mobile menu styles */
.mobile-menu {
  position: fixed;

  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    top 250ms cubic-bezier(0.4, 0, 0.2, 1),
    left 250ms cubic-bezier(0.4, 0, 0.2, 1);

  top: -100%;
  left: 100%;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  top: 0;
  left: 0;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-mobile-menu-close:hover,
.btn-mobile-menu-close:focus {
  background-color: #404bbf;
  border: none;
}
.btn-mobile-menu-close:hover .svg-btn-close,
.btn-mobile-menu-close:focus .svg-btn-close {
  fill: #ffffff;
}

.mobile-menu-nav {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-menu-nav .current {
  color: #404bbf;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-menu-nav.current {
  color: #404bbf;
}
.mobile-menu-contacts {
  margin-bottom: 48px;
}
.mobile-menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-menu-contacts-item {
}
.mobile-menu-contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-menu-contacts-item .tel {
  color: #4d5ae5;
}
.link {
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion Header */
/* #region Hero Section */
.section-hero {
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-backgrd-mob.jpg);
}

.section-hero-title {
  color: #ffffff;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 216px;

  margin: 0 auto 72px;
}
.btn {
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  font-weight: 500; /* Medium */
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-backgrd-tablet.jpg");
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .section-hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
  }
}
@media screen and (min-width: 1158px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-backgrd-desktop.jpg");
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .section-hero-title {
    margin: 0 auto 48px;
  }
}
/* зображення 2х*/
@media screen and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-backgrd-mob-2x.jpg");
  }
  @media (min-width: 768px) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/hero-backgrd-tablet-2x.jpg");
    }
  }
  @media (min-width: 1158px) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/hero-backgrd-desktop-2x.jpg");
    }
  }
}

/* #endregion Hero Section */
/* #region Our Values Section */
.section-our-values {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #ffffff;
}
.container {
}
.section-our-values-container {
}
.section-our-values-title {
}
.section-our-values-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.section-our-values-post {
  width: 100%;
}
.our-values-icon-cont {
  display: none;
}
.icon-big {
}
.section-our-values-post-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.section-our-values-text {
  font-weight: 500;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .section-our-values-list {
    gap: 72px 24px;
  }
  .section-our-values-post {
    width: calc((100% - 24px) / 2);
  }
  .section-our-values-post-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .section-our-values-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 72px 24px;
  }
  .section-our-values-post {
    width: calc((100% - 24px) / 2);
  }
  .section-our-values-post-title {
    text-align: left;
  }
}
